/* Centralizar tudo no meio */


body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   background-color: #1a1a1a;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: yellow
}

.relogio {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
   border-radius: 12px;
   padding: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
   text-align: center;
}

.hora {
   font-size: 3em;
   font-weight: bold;
   margin-bottom: 10px;
}

.data {
   font-size: 1.2em;
}